@import url(http://fonts.googleapis.com/css?family=Share+Tech);

body,div,p,h1,h2,h3  {
  margin:0px;
  padding:0px;
  box-sizing:border-box
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
a {
	color: #3875d7;
	text-decoration: none;
}

a:hover {
	background-color: #3875d7;
	color: #f0f0f0;
	text-decoration: none;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
	text-align:justify;
  background: #ccc url(/assets/pattern.png);
  height:100%;
}

#header {
  position:relative;
  margin-top:50px;
  height:120px;
}
#face{
  position:absolute;
  height:100px;
  width:100px;
  top:10px;
  left:0px;
  border-radius:7px;
  -mox-border-radius:7px;
}
#righty{
  position:absolute;
  left:100px;
  top:0px;
  right:0px;
  bottom:0px;
}

#nom{
  position:absolute:
  bottom:60px;
  height:60px;
  top:0px;
  left:0px;
  right:0px;
}

#nom h1{
  font-family: 'Share Tech', 'Arial', 'Helvetica', sans-serif;
  color:#555;
  position:absolute;
  padding-left:10px;
  padding-bottom:0px;
  bottom:60px;
  margin:0px;
}
#links{
  position:absolute;
  left:0px;
  top:60px;
  bottom:0px;
  right:0px;
  padding:12px;
}
#links p{
  margin:0px;
}

#container{
  width:40%;
  min-width:700px;
  margin:auto;
}

#content{
  padding-left:110px;
}
#content section { 
  font: 16px 'Droid Serif', serif; 
  color: #333; 
  background: #fff; 
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  margin-bottom:10px;
}
p{ 
  padding-top:5px;
  padding-bottom:5px;
}
#content h1{
  margin-bottom:30px;
  margin-top:10px;
  text-align:center;
}
#content h2{
  margin-top:20px;
  margin-bottom:20px;
}
#content section p.warning{
  text-align: center;
  background: #ffdddd;
  font-style:italic;
  color:#662222;
}

.dateinfo{
  font-size:small;
  color:#aaa;
  width:100%;
  position:relative;
}
.dateinfo .date{
  position:absolute;
  left:0px;
  top:0px;
}
.dateinfo .tags{
  position:absolute;
  top:0px;
  right:0px;
  text-align:right;
}

.tag{
  background:#eef;
  padding:2px;
  border-radius:3px;
  display:inline-block;
}
.cloudtag{
  margin-bottom:7px;
}
.postlist{
  list-style-type: none;
}
.postlist li{
  height:1.25em;
}
.postdate{
  display:block;
  width:110px;
  font-size:small;  
  text-align:right;
  float:left;
  margin-top:3px;
  padding-right:5px;
}
