---
title: Home
layout: home
---

<section>
  <h3>About</h3>
  <p>I'm a software engineer and entrepreneur working in London at <a href="https://weave.works">Weaveworks</a>.</p>
  <!--<p>I am available for freelance contracting work on all web, embedded, scientific, mobile and visualisation problems. <a href="mailto:brice@fractallambda.com">Contact me now</a>.</p>-->
  <p>I'm professionally interested in functional languages, Flow Based Programming, functional-reactive programming, polyglot frameworks and data-centric design.</p>
  <!--
  <p>I am the founder of <a href="http://getmetaflow.com">Metaflow</a>, an app to help automate business processes without setting your hair on fire.</p>
  <p>I teach programming in person at <a href="http://www.codeschool.org.uk/">Cambridge Codeschool</a>.</p>
  -->
</section>

<section>
  <h3>Talks</h3>
  <ul class="postlist">
    {% for page in site.pages %}
    {% if page.talk == true %}
    <li>
      <a class="talkitem" href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>



<section>
  <h3>Things I do</h3>
  <ul>
    <li>I make containers easy to use at scale with <a href="https://weave.works">Weaveworks</a></li>
    <!--<li>I founded and organise the <a href="https://www.meetup.com/Sheffield-Programmers-Study-Group/">Sheffield Programmers' Study Group</a>.</li>-->
    <!-- <li>I mentor people online at <a href="https://www.codementor.io/brice">Codementor</a>.</li> -->
  </ul>

  <h3>Things I used to do</h3>
  <ul>
    <li>I built <a href="https://www.decacoder.com">Decacoder</a>, a learning platform for developers.</li>
    <li>I coached startups at the <a href="https://www.jbs.cam.ac.uk/entrepreneurship/programmes/ignite/">University of Cambridge Judge Business School Ignite programme</a>.</li>
    <li>I taught <a href="https://www.udemy.com/unitycourse/">game development</a> online.</li>
    <li>I was a founding coach the University of <a href="http://www.jbs.cam.ac.uk/faculty-research/centres/accelerate-cambridge/">Cambridge Judge Business School startup accelerator</a>.</li>
    <li>I founded and organised the <a href="http://www.meetup.com/Cambridge-Programmers-Study-Group/">Cambridge Programmer's Study Group</a> for several years.</li>
    <li>I organised several <a href="http://cambridge.up.co">Cambridge Startup Weekend</a>.</li>
  </ul>
  <!-- <a href="https://www.codementor.io/brice?utm_source=github&utm_medium=button&utm_term=brice&utm_campaign=github"><img src="https://cdn.codementor.io/badges/i_am_a_codementor_dark.svg" alt="I am a codementor" style="max-width:100%"/></a> -->

  <!--<p>I work with any language on any platform.</p>
  <p>I play with C, Clojure, Coffescript, Javascript, WebGL and Python on Linux.</p>-->
  <!--<p>I specialise in automating business processes and making them more effective.</p>-->

<!--
  <h3>Keep me honest</h3>
  <p>Look at my public commitments and their status on a <a href="/commit/">dedicated page</a>.</p> -->
</section>

<!-- <section>
  <h3>Want some help becoming a better programmer</h3>
  <p>Join me on <a href="https://www.codementor.io/brice">Codementor</a>, where we can work out how to best grow your skills.</p>
  <div style="margin-top:1em;">
    <script data-codementor="brice" data-style="badge" data-theme="light" src="https://cdn.codementor.io/assets/badge.js"></script>
  </div>
</section> -->

<!--
<section>
  <h3>Posts</h3>
  <ul class="postlist">
    {% for post in site.posts %}
    <li>
      <span class="postdate">{{post.date| date: "%d %B %Y"}}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
-->


<!-- trigger build #123j1jkk -->
