---
title: Home
layout: home
---

<section>
  <h3>About</h3>
  <p>I'm a freelance software engineer and entrepreneur living and working in Cambridge, UK.</p>
  <p>I'm professionally interested in functional languages, Flow Based Programming, functional-reactive programming, polyglot frameworks and data-centric design.</p>
  <!--
  <p>I am the founder of <a href="http://getmetaflow.com">Metaflow</a>, an app to help automate business processes without setting your hair on fire.</p>
  <p>I teach programming in person at <a href="http://www.codeschool.org.uk/">Cambridge Codeschool</a>.</p>
  -->
  <h3>Things I do</h3>
  <ul>
    <li>I teach <a href="https://www.udemy.com/unitycourse/">game development</a> online.</li>
    <li>I help startups at the <a href="http://www.jbs.cam.ac.uk/faculty-research/centres/accelerate-cambridge/team/">Judge Business School Accelerator</a>.</li>
    <li>I organise the <a href="http://www.meetup.com/Cambridge-Programmers-Study-Group/">Cambridge Programmer's Study Group</a>.</li>
    <li>I organise the <a href="http://cambridge.up.co">Cambridge Startup Weekend</a>.</li>
  </ul>
  <!--<p>I work with any language on any platform.</p>
  <p>I play with C, Clojure, Coffescript, Javascript, WebGL and Python on Linux.</p>-->
  <!--<p>I am available for freelance contracting work on all web, embedded, scientific, mobile and visualisation problems.</p>-->
  <!--<p>I specialise in automating business processes and making them more effective.</p>-->
</section>

<section>
  <h3>Talks</h3>
  <ul class="postlist">
    <li><a class="talkitem" href="http://fractallambda.com/building-objects-with-functions">Building Objects With Functions</a></li>
    {% for page in site.pages %}
    {% if page.talk == true %}
    <li>
      <a class="talkitem" href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<section>
  <h3>Posts</h3>
  <ul class="postlist">
    {% for post in site.posts %}
    <li>
      <span class="postdate">{{post.date| date: "%d %B %Y"}}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
