<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Brice Fernandes - {{ page.title }} </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="{{ site.url }}"><img id="face" src="/assets/face_small.jpg"></img></a>
      <div id="righty">
        <div id="nom">
          <a href="{{ site.url }}"><h1>Brice Fernandes</h1></a>
        </div>
        <div id="links">
          <p>
            <a href="https://github.com/bricef">Github</a> -
            <a href="http://stackoverflow.com/users/140264/brice">Stackoverflow</a> -
            <a href="https://twitter.com/fractallambda">twitter</a>
            <!-- <a href="files/brice-fernandes-cv.pdf">CV(pdf)</a> - -->
            <span style="float:right;">
              <a href="mailto:brice&#64;fractallambda&#46;com?subject=Hello!">
                brice<span class="dot">&#64;</span>fractallambda<span class="dot">&#46;</span>com
              </a>
            </span>
          </p>
        </div> <!-- /links -->
      </div><!-- /righty -->
    </div><!-- /header -->
    <div id="content">

<!-- end top -->

