<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Brice - {{ page.title }} </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="https://kit.fontawesome.com/2fc6b0abf5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/pygments.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="facelink">
        <a href="/"><img id="face" src="/assets/headshot.png"></img></a>
      </div>
      <div id="righty">
        <div id="nom">
          <h1><a href="/"></a>Brice Fernandes</a></h1>
        </div>
        <div id="links">
          <p>
            <a href="https://github.com/bricef"><i class="fab fa-github"></i> Github</a>
            <a href="http://stackoverflow.com/users/140264/brice"><i class="fab fa-stack-overflow"></i> Stackoverflow</a>
            <a href="https://twitter.com/fractallambda"><i class="fab fa-twitter"></i> Twitter</a>
            <!--- <a href="http://blog.fractallambda.com">Blog</a> -->
            <a href="assets/brice-fernandes-cv.pdf"><i class="fa fa-file-pdf"></i> CV</a>
          </p>
          <p class="semail" >
            <a href="mailto:brice@fractallambda.com?subject=Hello!">
              brice<span class="dot">&#64;</span>fractallambda<span class="dot">&#46;</span>com
            </a>
          </p>
        </div> <!-- /links -->
      </div><!-- /righty -->
    </div><!-- /header -->
    <div id="content">

<!-- end top -->
