{% include top.html %}

<article>
  <!--
  <div class="dateinfo">
    <span class="date">{{ page.date | date: "%d %B %Y" }}</span>
     <span class="tags">
    tagged: 
    {% for tag in page.tags %} 
      <a class="tag">{{tag}}</a> 
    {% endfor %} 
    </span>
    &nbsp;
  </div>
-->
{{ content }}
</article>

<section class="contact">
I’d love to hear your insights on this, especially if you disagree or have different ideas. Please reach out at brice@fractallambda.com.
</section>

{% include bottom.html %}
